<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<title>BlackJack</title>
</head>
<body>
<div class="container mt-5 w-75">

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Blackjack!</h1>
    <p class="lead">Please sign-in to continue. First time here? You can make an account below.</p>
    
    <button type="btn btn-primary" href="/security" class="btn btn-primary btn-lg">Sign-in</button>
	<button type="btn btn-primary" href="/hello" class="btn btn-secondary btn-lg">Sign-up</button>
    
    
  </div>
</div>





</div>
</body>
</html>